services:
  db:
    image: mariadb:latest
    restart: always
    ports:
      - 3307:3306
    environment:
      MYSQL_ROOT_PASSWORD: R00t
      MYSQL_DATABASE: bilan
      MARIADB_AUTO_UPGRADE: 1
    command: >
      --max_connections=200
      --innodb_buffer_pool_size=2G
      --innodb_buffer_pool_instances=2
      --innodb_log_file_size=256M
      --innodb_log_buffer_size=16M
      --innodb_flush_log_at_trx_commit=2
      --innodb_flush_method=O_DIRECT
      --innodb_write_io_threads=4
      --innodb_read_io_threads=4
      --innodb_io_capacity=1000
      --innodb_io_capacity_max=2000
      --query_cache_size=0
      --query_cache_type=0
      --thread_cache_size=50
      --tmp_table_size=64M
      --max_heap_table_size=64M
      --innodb_file_per_table=1
      --table_open_cache=2000
      --table_definition_cache=1000
      --max_allowed_packet=64M
      --max_connect_errors=1000
      --skip-name-resolve
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
      --performance_schema=ON
    volumes:
      - ./anexo_script_ddl/Anexo3.csv:/home/Anexo3.csv
      - ./anexo_script_ddl/bilandb.sql:/docker-entrypoint-initdb.d/bilandb.sql
      - ./bilan-db:/bilan-db
    networks:
      - bilan-network
  # optional for changing data in the database using ui-client
  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
    networks:
      - bilan-network
  
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        JAR_FILE: ./target/bilan-backend-1.0-SNAPSHOT.jar
    depends_on:
      - db
    ports:
      - 8080:8080
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://db:3307/bilan
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: R00t
      BILAN_STORAGE_PATH: .
    networks:
      - bilan-network

networks:
  bilan-network:
    driver: bridge