container_commands:
  # Configure sineb host
  01_sinebcert:
    command: echo 10.200.150.147 'wsstandardsimatcert.mineducacion.gov.co' | sudo tee -a /etc/hosts
  # Configure sineb host
  01_simatcert:
    command: echo 10.200.150.150 'wsstandardsinebcert.mineducacion.gov.co' | sudo tee -a /etc/hosts