[Unit]
Description=bilan
After=syslog.target

[Service]
ExecStart=/opt/sdkman/candidates/java/current/bin/java -jar /var/bilan/target/bilan-backend-1.0.jar
# Environment Variables
Environment="SERVER_PORT="
Environment="SPRING_DATASOURCE_URL="
Environment="SPRING_DATASOURCE_USERNAME="
Environment="SPRING_DATASOURCE_PASSWORD="
Environment="SPRING_PROFILES_ACTIVE="
Environment="JWT_SECRET="

[Install]
WantedBy=multi-user.target
